/* details.css */

/* body 기본 스타일링 */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    margin-top: -10px;
    background-color: #f0f0f0;
}

/* 게시글 상세 조회 컨테이너 */
.board-details {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 부모 요소에 대한 CSS */
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 게시글 상세 조회 컨테이너 호버 효과 */
.board-details:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

/* 제목 스타일 */
h2 {
    margin-bottom: 20px;
}

/* 디테일 정보 스타일 */
.details {
    margin-bottom: 10px;
}

/* 본문 내용 스타일 */
.content {
    font-size: 16px;
}

/* 링크 스타일 */
.link {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

/* 링크 호버 효과 */
.link:hover {
    background-color: #45a049;
}